@model Datos.Modelo.Usuario
@{
	ViewBag.SeccionTieneTitulo = true;
	ViewBag.Pagina = 7;

	if (Model.UsuarioId == 0)
	{
		ViewBag.Title = "Despacho - Nuevo Usuario";
		ViewBag.TituloSeccion = "Nuevo Usuario";
	}
	else
	{
		ViewBag.Title = "Despacho - " + Model.Username;
		ViewBag.TituloSeccion = Model.Username;
	}

	List<Datos.Modelo.Perfil> roles = Datos.Datos.Perfil.ObtenerPerfiles();
	List<Datos.Modelo.Cliente> clientes = Datos.Datos.Cliente.ObtenerClientes();
}

@section Less{
	<link rel="stylesheet/less" type="text/css" href="~/Content/less/usuarios.less" />
}

@section Scripts{
	@Scripts.Render("~/bundles/usuario")
}

<div class="m-portlet m-portlet--tab">
	<!--begin::Form-->
	<form class="m-form m-form--fit m-form--label-align-right">
		<div class="m-portlet__body">
			<input type="hidden" value="@Model.UsuarioId" id="id">
			<input type="hidden" value="@Model.EstaActivo" id="activo">

			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Usuario</label>
				<div class="col-10">
					<input class="form-control m-input" type="text" value="@Model.Username" id="username" style="width: 50%">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Contraseña</label>
				<div class="col-10">
					<input class="form-control m-input" type="text" value="@Model.Password" id="password" style="width: 50%">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Nombres</label>
				<div class="col-10">
					<input class="form-control m-input" type="text" value="@Model.Nombres" id="nombres" style="width: 50%">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Apellido Paterno</label>
				<div class="col-10">
					<input class="form-control m-input" type="text" value="@Model.ApellidoPaterno" id="apellidopaterno" style="width: 50%">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Apellido Materno</label>
				<div class="col-10">
					<input class="form-control m-input" type="text" value="@Model.ApellidoMaterno" id="apellidomaterno" style="width: 50%">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Email</label>
				<div class="col-10">
					<input class="form-control m-input" type="text" value="@Model.Email" id="email" style="width: 50%">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Rol</label>
				<div class="col-lg-10 col-sm-12">
					<select class="form-control m-select2" id="perfilid" name="perfilid">
						<option value="" selected disabled>Seleccione un rol</option>
						@foreach (Datos.Modelo.Perfil perfil in roles)
						{
							<option value="@perfil.Perfilid" @(Model.PerfilId == perfil.Perfilid ? "selected" : "")>@perfil.Descripcion  </option>
						}
					</select>
				</div>
			</div>
			<div class="form-group m-form__group row">

				<label for="example-text-input" class="col-2 col-form-label">Cliente</label>
				<div class="col-lg-10 col-sm-12">
					<select class="form-control m-select2" id="clienteid" name="clienteid">
						<option value="" selected disabled>Seleccione un cliente</option>
						@foreach (Datos.Modelo.Cliente cliente in clientes)
						{
							<option value="@cliente.ClienteId" @(Model.ClienteId == cliente.ClienteId ? "selected" : "")>@cliente.Nombre</option>
						}
					</select>
				</div>
			</div>
		</div>
		<div class="m-portlet__foot m-portlet__foot--fit">
			<div class="m-form__actions">
				<div class="row">
					<div class="col-2">
					</div>
					<div class="col-10">
						<button type="button" class="btn btn-success" id="btnGuardar">Guardar</button>
						<a href="~/Usuario/Index" class="btn btn-secondary">Volver</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>





