@model Datos.Modelo.Solicitud
@{
	ViewBag.SeccionTieneTitulo = true;
	ViewBag.Pagina = 1;

	if (Model.SolicitudDespachoId == 0)
	{
		ViewBag.Title = "Despacho - Nueva Solicitud";
		ViewBag.TituloSeccion = "Nueva Solicitud";
	}
	else
	{
		ViewBag.Title = "Despacho - Solicitud " + Model.SolicitudDespachoId;
		ViewBag.TituloSeccion = "Solicitud " + Model.SolicitudDespachoId;
	}

	Datos.Modelo.Usuario usuario = (Datos.Modelo.Usuario)Session["usuario"];

	List<Datos.Modelo.TipoSolicitud> tiposSolicitud = Datos.Datos.TipoSolicitud.ObtenerTiposSolicitudes();
	List<Datos.Modelo.Comuna> comunas = Datos.Datos.Comuna.ObtenerComunas();
	List<Datos.Modelo.Prioridad> prioridades = Datos.Datos.Prioridad.ObtenerPrioridades();
	List<Datos.Modelo.UnidadNegocio> unidadesMegocio = Datos.Datos.UnidadNegocio.ObtenerUnidadesNegocio();
	List<Datos.Modelo.Gerencia> gerencias = Datos.Datos.Gerencia.ObtenerGerencias();
	List<Datos.Modelo.Camion> camiones = Datos.Datos.Camion.ObtenerCamiones();
	List<Datos.Modelo.Enlaces> enlaces = Datos.Datos.Enlaces.ObtenerEnlaces();
	List<Datos.Modelo.TipoDocumento> tiposDocumento = Datos.Datos.TipoDocumento.ObtenerTiposdeDocumentos();
}

@section Less{
	<link rel="stylesheet/less" type="text/css" href="~/Content/less/solicitud.less" />
}

@section Scripts{
	<script type="text/javascript" src="~/Content/js/Solicitud.js"></script>
}

<div class="m-portlet m-portlet--full-height">
	<!--begin: Portlet Head-->
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text">
					Formulario de Solicitud
				</h3>
			</div>
		</div>
		<div class="m-portlet__head-tools">
			<ul class="m-portlet__nav">
				<li class="m-portlet__nav-item">
					<a href="#" data-toggle="m-tooltip" class="m-portlet__nav-link m-portlet__nav-link--icon" data-direction="left" data-width="auto" title="Get help with filling up this form">
						<i class="flaticon-info m--icon-font-size-lg3"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!--end: Portlet Head-->
	<!--begin: Portlet Body-->
	<div class="m-portlet__body m-portlet__body--no-padding">
		<!--begin: Form Wizard-->
		<div class="m-wizard m-wizard--3 m-wizard--success" id="formulario-solicitud">
			<!--begin: Message container -->
			<div class="m-portlet__padding-x">
				<!-- Here you can put a message or alert -->
			</div>
			<!--end: Message container -->
			<div class="row m-row--no-padding">
				<div class="col-xl-3 col-lg-12">
					<!--begin: Form Wizard Head -->
					<div class="m-wizard__head">

						<!--begin: Form Wizard Progress -->
						<div class="m-wizard__progress">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</div>
						<!--end: Form Wizard Progress -->
						<!--begin: Form Wizard Nav -->
						<div class="m-wizard__nav">
							<div class="m-wizard__steps">
								<div class="m-wizard__step m-wizard__step--current" m-wizard-target="seccion-solicitud">
									<div class="m-wizard__step-info">
										<a href="#" class="m-wizard__step-number">
											<span><span>1</span></span>
										</a>
										<div class="m-wizard__step-line">
											<span></span>
										</div>
										<div class="m-wizard__step-label">
											Solicitud
										</div>
									</div>
								</div>

								@if (Model.EstadoSolicitudId > 0)
								{
									<div class="m-wizard__step" m-wizard-target="seccion-planificacion">
										<div class="m-wizard__step-info">
											<a href="#" class="m-wizard__step-number">
												<span><span>2</span></span>
											</a>
											<div class="m-wizard__step-line">
												<span></span>
											</div>
											<div class="m-wizard__step-label">
												Planificación
											</div>
										</div>
									</div>
								}

								@if (Model.EstadoSolicitudId > 0)
								{
									<div class="m-wizard__step" m-wizard-target="seccion-documentacion">
										<div class="m-wizard__step-info">
											<a href="#" class="m-wizard__step-number">
												<span><span>3</span></span>
											</a>
											<div class="m-wizard__step-line">
												<span></span>
											</div>
											<div class="m-wizard__step-label">
												Documentación
											</div>
										</div>
									</div>
								}

								@if (Model.EstadoSolicitudId > 0)
								{
									<div class="m-wizard__step" m-wizard-target="seccion-concrecion">
										<div class="m-wizard__step-info">
											<a href="#" class="m-wizard__step-number">
												<span><span>4</span></span>
											</a>
											<div class="m-wizard__step-line">
												<span></span>
											</div>
											<div class="m-wizard__step-label">
												Concreción
											</div>
										</div>
									</div>
								}

								@if (Model.EstadoSolicitudId > 3)
								{
									<div class="m-wizard__step" m-wizard-target="seccion-aprobacion">
										<div class="m-wizard__step-info">
											<a href="#" class="m-wizard__step-number">
												<span><span>5</span></span>
											</a>
											<div class="m-wizard__step-line">
												<span></span>
											</div>
											<div class="m-wizard__step-label">
												Aprobación
											</div>
										</div>
									</div>
								}
							</div>
						</div>
						<!--end: Form Wizard Nav -->
					</div>
					<!--end: Form Wizard Head -->
				</div>
				<div class="col-xl-9 col-lg-12">
					<!--begin: Form Wizard Form-->
					<div class="m-wizard__form">
						<!--
							1) Use m-form--label-align-left class to alight the form input lables to the right
							2) Use m-form--state class to highlight input control borders on form validation
						-->
						<form class="m-form m-form--label-align-left- m-form--state-" id="m_form">
							<!--begin: Form Body -->
							<div class="m-portlet__body m-portlet__body--no-padding">
								<!--begin: Form Wizard Step 1-->
								<div class="m-wizard__form-step m-wizard__form-step--current" id="seccion-solicitud">
									<input type="hidden" id="solicitudId" value="@Model.SolicitudDespachoId" />
									<input type="hidden" id="estadoId" value="@Model.EstadoSolicitudId" />

									<div class="m-form__section m-form__section--first">
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Tipo Solicitud:</label>
											<div class="col-xl-9 col-lg-9">
												<select id="tipoSolicitudId" class="form-control m-select2" placeholder="">
													<option value="0" selected disabled>Seleccione un tipo de solicitud</option>
													@foreach (Datos.Modelo.TipoSolicitud tipo in tiposSolicitud)
													{
														<option value="@tipo.Tiposolicitudid" @(tipo.Tiposolicitudid == Model.TipoSolicitudId ? "selected" : "")>@tipo.Descripcion</option>
													}
												</select>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Fecha Recepción:</label>
											<div class="col-xl-9 col-lg-9">
												<div class='input-group date pull-right'>
													<input type="text" class="form-control m-input" readonly="" placeholder="Seleccione la fecha de recepción" id="fechaRecepcion" value="@Model.FechaRecepcion">
													<div class="input-group-append">
														<span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Bodega de Origen:</label>
											<div class="col-xl-9 col-lg-9">
												<input type="text" class="form-control m-input" value="@Model.BodegaOrigen" id="bodegaOrigen" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Número de Cliente:</label>
											<div class="col-xl-9 col-lg-9">
												<input type="text" class="form-control m-input" value="@Model.NumeroCliente" id="numeroCliente" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Nombre del Cliente:</label>
											<div class="col-xl-9 col-lg-9">
												<input type="text" class="form-control m-input" value="@Model.NombreCliente" id="nombreCliente" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Dirección del Cliente:</label>
											<div class="col-xl-9 col-lg-9">
												<input type="text" class="form-control m-input" value="@Model.DireccionCliente" id="direccionCliente" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Comuna del Cliente:</label>
											<div class="col-xl-9 col-lg-9">
												<select id="comunaClienteId" class="form-control m-select2" placeholder="">
													<option value="0" selected disabled>Seleccione una comuna</option>
													@foreach (Datos.Modelo.Comuna comuna in comunas)
													{
														<option value="@comuna.ComunaId" @(comuna.ComunaId == Model.ComunaClienteId ? "selected" : "")>@comuna.Nombre</option>
													}
												</select>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">Teléfono Contacto Cliente:</label>
											<div class="col-xl-9 col-lg-9">
												<input type="tel" class="form-control m-input" value="@Model.NumeroTelefonoContacto" id="telefonoContacto" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* RUT Cliente:</label>
											<div class="col-xl-9 col-lg-9 d-flex" style="align-items: center;">
												<input type="number" class="form-control m-input w-75" value="@Model.RutCliente" id="rutCliente" maxlength="8" /> &nbsp;-&nbsp;
												<input type="text" class="form-control m-input w-25" value="@Model.VRutCliente" id="vrutCliente" maxlength="1" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Proyecto:</label>
											<div class="col-xl-9 col-lg-9">
												<input type="text" class="form-control m-input" value="@Model.Proyecto" id="proyecto" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Prioridad:</label>
											<div class="col-xl-9 col-lg-9">
												<select id="prioridadId" class="form-control m-select2" placeholder="">
													<option value="0" selected disabled>Seleccione una prioridad</option>
													@foreach (Datos.Modelo.Prioridad prioridad in prioridades)
													{
														<option value="@prioridad.prioridadid" @(prioridad.prioridadid == Model.PrioridadId ? "selected" : "")>@prioridad.descripcion</option>
													}
												</select>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Unidad de Negocio:</label>
											<div class="col-xl-9 col-lg-9">
												<select id="unidadNegocioId" class="form-control m-select2" placeholder="">
													<option value="0" selected disabled>Seleccione una unidad de negocio</option>
													@foreach (Datos.Modelo.UnidadNegocio unidadNegocio in unidadesMegocio)
													{
														if (usuario.ClienteId == unidadNegocio.ClienteId || usuario.ClienteId == 0 || usuario.ClienteId == null)
														{
															<option value="@unidadNegocio.UnidadNegocioId" @(unidadNegocio.UnidadNegocioId == Model.UnidadNegocioId ? "selected" : "")>@unidadNegocio.Descripcion</option>
														}
													}
												</select>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Gerencia:</label>
											<div class="col-xl-9 col-lg-9">
												<select id="gerenciaId" class="form-control m-select2" placeholder="">
													<option value="0" selected disabled>Seleccione una gerencia</option>
													@foreach (Datos.Modelo.Gerencia gerencia in gerencias)
													{
														if (usuario.ClienteId == gerencia.Clienteid || usuario.ClienteId == 0 || usuario.ClienteId == null)
														{
															<option value="@gerencia.Gerenciaid" @(gerencia.Gerenciaid == Model.GerenciaId ? "selected" : "")>@gerencia.Descripcion</option>
														}
													}
												</select>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">Observaciones:</label>
											<div class="col-xl-9 col-lg-9">
												<textarea class="form-control m-input" id="observaciones" maxlength="255">@Model.ObservacionAof</textarea>
											</div>
										</div>
									</div>
								</div>
								<!--end: Form Wizard Step 1-->

								@if (Model.EstadoSolicitudId > 0)
								{
									<!--begin: Form Wizard Step 2-->
									<div class="m-wizard__form-step" id="seccion-planificacion">
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Fecha Despacho:</label>
											<div class="col-xl-9 col-lg-9">
												<div class='input-group date pull-right'>
													<input type="text" class="form-control m-input" readonly="" placeholder="Seleccione la fecha de despacho" id="fechaDespacho" value="@Model.FechaDespacho">
													<div class="input-group-append">
														<span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Camión:</label>
											<div class="col-xl-9 col-lg-9">
												<select id="patenteCamion" class="form-control m-select2" placeholder="">
													<option value="0" selected disabled>Seleccione un camión</option>
													@foreach (Datos.Modelo.Camion camion in camiones)
													{
														<option value="@camion.Patente" @(camion.Patente == Model.PatenteCamion ? "selected" : "")>@camion.Descripcion</option>
													}
												</select>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Llamada día Anterior:</label>
											<div class="col-xl-9 col-lg-9">
												<div class="m-radio-inline">
													<label class="m-radio">
														<input type="radio" name="llamada" value="1"> Si
														<span></span>
													</label>
													<label class="m-radio">
														<input type="radio" name="llamada" value="0"> No
														<span></span>
													</label>
												</div>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">Comentarios:</label>
											<div class="col-xl-9 col-lg-9">
												<textarea class="form-control m-input" id="comentarios" maxlength="255">@Model.ComentariosLlamada</textarea>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Enlace:</label>
											<div class="col-xl-9 col-lg-9">
												<select id="enlaceId" class="form-control m-select2" placeholder="">
													<option value="0" selected disabled>Seleccione un enlace</option>
													@foreach (Datos.Modelo.Enlaces enlace in enlaces)
													{
														<option value="@enlace.Enlaceid" @(enlace.Enlaceid == Model.EnlaceId ? "selected" : "")>@enlace.Descripcion</option>
													}
												</select>
											</div>
										</div>
									</div>
									<!--end: Form Wizard Step 2-->
								}

								@if (Model.EstadoSolicitudId > 0)
								{
									<!--begin: Form Wizard Step 3-->
									<div class="m-wizard__form-step" id="seccion-documentacion">
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Número de Documento:</label>
											<div class="col-xl-9 col-lg-9">
												<input type="number" class="form-control m-input" value="@Model.NumeroDocumento" id="numeroDocumento" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Número de Entrega:</label>
											<div class="col-xl-9 col-lg-9">
												<input type="number" class="form-control m-input" value="@Model.NumeroEntrega" id="numeroEntrega" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Fecha Entrega Documento:</label>
											<div class="col-xl-9 col-lg-9">
												<div class='input-group date pull-right'>
													<input type="text" class="form-control m-input" readonly="" placeholder="Seleccione la fecha de entrega" id="fechaEntregaDoc" value="@Model.FechaEntregaDocumento">
													<div class="input-group-append">
														<span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Fecha Recepcion Documento:</label>
											<div class="col-xl-9 col-lg-9">
												<div class='input-group date pull-right'>
													<input type="text" class="form-control m-input" readonly="" placeholder="Seleccione la fecha de recepción" id="fechaRecepcionDoc" value="@Model.FechaRecepcionDocumento">
													<div class="input-group-append">
														<span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Folio:</label>
											<div class="col-xl-9 col-lg-9">
												<input type="number" class="form-control m-input" value="@Model.Folio" id="folio" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Tipo de Documento:</label>
											<div class="col-xl-9 col-lg-9">
												<select id="tipoDocumentoId" class="form-control m-select2" placeholder="">
													<option value="0" selected disabled>Seleccione un tipo de documento</option>
													@foreach (Datos.Modelo.TipoDocumento tipo in tiposDocumento)
													{
														<option value="@tipo.Tipodocumentoid" @(tipo.Tipodocumentoid == Model.TipoDocumentoId ? "selected" : "")>@tipo.Descripcion</option>
													}
												</select>
											</div>
										</div>
									</div>
									<!--end: Form Wizard Step 3-->
								}

								@if (Model.EstadoSolicitudId > 0)
								{
									<!--begin: Form Wizard Step 4-->
									<div class="m-wizard__form-step" id="seccion-concrecion">
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Concreción:</label>
											<div class="col-xl-9 col-lg-9">
												<div class="m-radio-inline">
													<label class="m-radio">
														<input type="radio" name="concrecion" value="1"> Si
														<span></span>
													</label>
													<label class="m-radio">
														<input type="radio" name="concrecion" value="0"> No
														<span></span>
													</label>
												</div>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* Nombre:</label>
											<div class="col-xl-9 col-lg-9">
												<input type="text" class="form-control m-input" value="@Model.NombreConcrecion" id="nombreConcrecion" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">* RUT:</label>
											<div class="col-xl-9 col-lg-9 d-flex" style="align-items: center;">
												<input type="number" class="form-control m-input w-75" value="@Model.RUTConcrecion" id="rutConcrecion" maxlength="8" /> &nbsp;-&nbsp;
												<input type="text" class="form-control m-input w-25" value="@Model.VRUTConcrecion" id="vrutConcrecion" maxlength="1" />
											</div>
										</div>
										<div class="form-group m-form__group row">
											<label class="col-xl-3 col-lg-3 col-form-label">Motivo de NO Concreción:</label>
											<div class="col-xl-9 col-lg-9">
												<textarea class="form-control m-input" id="motivoNoConcrecion" maxlength="255">@Model.MotivoNoConcrecion</textarea>
											</div>
										</div>
									</div>
									<!--end: Form Wizard Step 4-->
								}

								@if (Model.EstadoSolicitudId > 3)
								{
									<!--begin: Form Wizard Step 5-->
									<div class="m-wizard__form-step" id="seccion-aprobacion">
										Seccion 5
									</div>
									<!--end: Form Wizard Step 5-->
								}
							</div>
							<!--end: Form Body -->
							<!--begin: Form Actions -->
							<div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
								<div class="m-form__actions">
									<div class="row">
										@if (Model.SolicitudDespachoId > 0)
										{
											<div class="col-lg-6 m--align-left">
												<a href="#" class="btn btn-secondary m-btn m-btn--custom m-btn--icon" data-wizard-action="prev">
													<span>
														<i class="la la-arrow-left"></i>&nbsp;&nbsp;
														<span>Back</span>
													</span>
												</a>
											</div>
										}
										<div class="col-lg-6 m--align-right">
											<a href="#" class="btn btn-primary m-btn m-btn--custom m-btn--icon" data-wizard-action="submit" id="btnGuardar">
												<span>
													<i class="la la-check"></i>&nbsp;&nbsp;
													<span>@(Model.SolicitudDespachoId == 0 ? "Solicitar" : "Guardar")</span>
												</span>
											</a>
											<a href="#" class="btn btn-success m-btn m-btn--custom m-btn--icon" data-wizard-action="next" id="btnContinuar">
												<span>
													<span>Continuar</span>&nbsp;&nbsp;
													<i class="la la-arrow-right"></i>
												</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<!--end: Form Actions -->
						</form>
					</div>
					<!--end: Form Wizard Form-->

				</div>
			</div>
		</div>
		<!--end: Form Wizard-->

	</div>
	<!--end: Portlet Body-->
</div>
<!--End::Main Portlet-->
