@model Datos.Modelo.Enlaces
@{
	ViewBag.SeccionTieneTitulo = true;
	ViewBag.Pagina = 14;

	if (Model.Enlaceid == 0)
	{
		ViewBag.Title = "Despacho - Nuevo Enlace";
		ViewBag.TituloSeccion = "Nuevo Enlace";
	}
	else
	{
		ViewBag.Title = "Despacho - " + Model.Nombre;
		ViewBag.TituloSeccion = Model.Nombre;
	}
		List<Datos.Modelo.TipoPersonal> listatipodepersonal = Datos.Datos.TipoPersonal.ObtenerTiposdePersonal();
}

@section Less{
	<link rel="stylesheet/less" type="text/css" href="~/Content/less/enlace.less" />
}

@section Scripts{
	@Scripts.Render("~/bundles/enlace")
}

<div class="m-portlet m-portlet--tab">
	<!--begin::Form-->
	<form class="m-form m-form--fit m-form--label-align-right">
		<div class="m-portlet__body">
			<input type="hidden" value="@Model.Enlaceid" id="id">
			<input type="hidden" value="@Model.EstaActivo" id="activo">

			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">RUT</label>
				<input class="form-control m-input" type="number" aria-describedby="numberHelp" value="@Model.RUT" id="rut" style="width: 10%">
				<label for="example-text-input" class="col-1 col-form-label">-</label>
				<input class="form-control m-input" type="text"  value="(@Model.DV)" id="dv" style="width: 10%">
			</div>
			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Nombres</label>
				<div class="col-10">
					<input class="form-control m-input" type="text"  value="@Model.Nombre" id="nombre" style="width: 50%">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Primer Apellido</label>
				<div class="col-10">
					<input class="form-control m-input" type="text" value="@Model.Primerapellido" id="primerapellido" style="width: 50%">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Segundo Apellido</label>
				<div class="col-10">
					<input class="form-control m-input" type="text" value="@Model.Segundoapellido" id="segundoapellido" style="width: 50%">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label for="example-text-input" class="col-2 col-form-label">Email</label>
				<div class="col-10">
					<input class="form-control m-input" type="email"  aria-describedby="emailHelp" value="@Model.Email" id="email" style="width: 50%">
				</div>
			</div>
			<div class="form-group m-form__group row">
				<label class="col-form-label col-lg-2 col-sm-12">Tipo de Personal</label>
				<div class="col-lg-10 col-sm-12">
					<select class="form-control m-select2" id="Tipopersonalid" name="tipopersonalid">
						@foreach (Datos.Modelo.TipoPersonal tipopersonal in listatipodepersonal)
						{
							<option value="@tipopersonal.TipoPersonalId" @(Model.Tipopersonalid == tipopersonal.TipoPersonalId ? "selected" : "")>@tipopersonal.Descripcion</option>
						}
					</select>
				</div>
			</div>
			
		</div>
		<div class="m-portlet__foot m-portlet__foot--fit">
			<div class="m-form__actions">
				<div class="row">
					<div class="col-2">
					</div>
					<div class="col-10">
						<button type="button" class="btn btn-success" id="btnGuardar">Guardar</button>
						<a href="/Enlaces/Index" class="btn btn-secondary">Volver</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>




