@model IEnumerable<Datos.Modelo.CargaMasivaDetalleProducto>

@{
    ViewBag.Title = "CargaMasivaDetalleProducto";
}

<h2>CargaMasivaDetalleProducto</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CargaMasivaDetalleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroPlaca)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CargaMasivaDetalleId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroPlaca)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
